@model ConcertListing_Capstone.Models.Utenti

@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="login form-horizontal w-50 mx-auto d-flex flex-column align-items-center">
    <h2>Registrazione</h2>
    <i class="bi bi-people"></i>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="d-flex flex-wrap">
    <div class="form-group text-center mx-auto w-100">
        <div class="col-md-6 w-100 mx-auto  my-4">

            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Inserisci l'username" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group w-100">
        <div class="col-md-10 w-100 mx-auto mb-4">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Inserisci la password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group w-100">
        <div class="col-md-10 w-100 mx-auto mb-4">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Inserisci il tuo nome" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group w-100">
        <div class="col-md-10 w-100 mx-auto mb-4">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Inserisci il tuo cognome" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group w-100">
        <div class="col-md-10 w-100 mx-auto mb-4">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Inserisci l'E-mail" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

        </div>
    </div>
</div>


    <div class="form-group text-center login-button">
        <div class="col-md-offset-2 col-md-10  mx-auto">
            <input type="submit" value="Registrati" class="personal-button mb-4 mt-2" />
        </div>
    </div>
    <div class="text-center">
        Hai già un account?
        @Html.ActionLink("Vai al Login", "Login")
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
