@model ConcertListing_Capstone.Models.Artista

@{
    ViewBag.Title = "Details";
}

<div class="title text-center">
    <h2>@Html.DisplayFor(model => model.Nome)</h2>
</div>


<div class="col-12 card-details-artist">
    <div class="tile">
        <div class="wrapper" style="background-image: url(/Content/ConcertoImg/@Html.DisplayFor(model => model.Foto));">



            <div class="dates">
                <div class="start">
                    <strong>Genere</strong>@Html.DisplayFor(model => model.Genere)
                    <span></span>
                </div>
                <div class="ends">
                    <strong>Sottogeneri</strong>  @Html.DisplayFor(model => model.Sottogenere)
                </div>
            </div>
        </div>
    </div>
</div>





@{Html.RenderAction("PWConcerti", "Concerto"); }
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdArtista }) |
    @Html.ActionLink("Back to List", "ListaArtisti")
</p>
