@model IEnumerable<ConcertListing_Capstone.Models.Artista>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sottogenere)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <img src="~/Content/ArtistaImg/@Html.DisplayFor(modelItem => item.Foto)" width="200"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sottogenere)
        </td>
        @if (User.IsInRole("Admin"))
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdArtista }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdArtista })
        </td>
        }
    </tr>
}

</table>
