@model ConcertListing_Capstone.Models.Luogo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Luogo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeStruttura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeStruttura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Città)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Città)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLuogo }) |
    @Html.ActionLink("Back to List", "ListaLuoghi")
</p>
