@model IEnumerable<ConcertListing_Capstone.Models.Luogo>

@{
    ViewBag.Title = "Index";
}

<h2 class="mb-5">Gestione Luoghi</h2>

<p class="mb-3 mx-0 create-button">
    @Html.ActionLink("Crea nuovo luogo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeStruttura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Città)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeStruttura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Città)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id=item.IdLuogo }, new {@class="modify-button"}) |
            @Html.ActionLink("X", "Delete", new { id=item.IdLuogo }, new {@class="delete-button"})
        </td>
    </tr>
}

</table>
