@model IEnumerable<ConcertListing_Capstone.Models.Posti>

<p id="messaggio-conferma"></p>
@*<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona)
        </th>
        <th>
            Posti Disponibili
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th></th>
    </tr>*@



<div class="card-posti">
    <div class="inner align-items-center">
        <h2 class="title">Scegli i tuoi posti</h2>
        <div class="container d-flex flex-wrap justify-content-end">
            @if (User.Identity.IsAuthenticated)
            {
                foreach (var item in Model)
                {
                    <div class="d-flex box-info-concerto justify-content-between align-items-center  mb-2">
                        <div class="d-flex w-50 justify-content-between me-3">
                            @Html.HiddenFor(modelItem => item.IdPosti, new { @class = "idposti" })
                            <p class="m-0">

                                @Html.DisplayFor(modelItem => item.Zona)
                            </p>


                            <span class="prezzo">
                                @Html.DisplayFor(modelItem => item.Prezzo)
                            </span>
                        </div>
                        |
                        <div class="d-flex w-50 justify-content-evenly">
                            <input type="number" name="PostiScelti" class="postinumber mx-2 w-25" />
                            <button class="personal-button invio">
                                Conferma
                            </button>
                        </div>
                    </div>
                }

            }
            else
            {
                <p class="alert-danger">
                    @TempData["LoginNecessario"]
                </p>
            }
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var dataId = $(".idposti")
        var dataPrezzo = $(".prezzo")
        var dataPosti = $(".postinumber")
        var dataButton = $(".invio")

        $.each(dataButton, function (index, a) {
            $(a).click(function () {
                var singoloId = dataId.eq(index).val()
                var singoloPrezzo = dataPrezzo.eq(index).text()
                var singoloPosto = dataPosti.eq(index).val()

                console.log(singoloPrezzo)
                $.ajax({
                    method: 'POST',
                    data: { iddata: singoloId, prezzodata: singoloPrezzo, postodata: singoloPosto },
                    url: "/Ordine/Compra",
                    success: function (a) {
                        $("#messaggio-conferma").append("<div class=\"alert alert-success mt-2\" style=\"width:200px\"> Prodotto aggiunto al carrello</div>")
                    }
                })
            })
        })
    })
</script>