@model IEnumerable<ConcertListing_Capstone.Models.Posti>

@{
    ViewBag.Title = "Index";
}

<h2>Gestione posti</h2>

<p class="mx-0 mt-3 create-button">
    @Html.ActionLink("Crea nuovi posti", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Luogo.NomeStruttura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostiTotali)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostiVenduti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Luogo.NomeStruttura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostiTotali)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostiVenduti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id=item.IdPosti }, new {@class="modify-button"})
            @Html.ActionLink("X", "Delete", new { id=item.IdPosti }, new {@class="delete-button"})
        </td>
    </tr>
}

</table>
