@model ConcertListing_Capstone.Models.Concerto

@{
    ViewBag.Title = "Details";
}



<div class="text-center mb-3">
    <h2>Acquista i biglietti per <span> @Html.DisplayFor(model => model.Artista.Nome) </span></h2>
</div>
<p>

    @Html.ActionLink("Torna Indietro", "PaginaConcerti")
</p>

<div class="container">
    <div class="row align-items-center">
        <div class="col-6">
            <div class="tile">
                <div class="wrapper" style="background-image: url(/Content/ConcertoImg/@Html.DisplayFor(model => model.ImmagineCopertina));">



                    <div class="dates">
                        <div class="start">
                            <strong>Data</strong> @Html.DisplayFor(model => model.Data.Day)/@Html.DisplayFor(model => model.Data.Month)/@Html.DisplayFor(model => model.Data.Year)
                            <span></span>
                        </div>
                        <div class="ends">
                            <strong>A</strong> @Html.DisplayFor(model => model.Luogo.Città), @Html.DisplayFor(model => model.Luogo.NomeStruttura)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            @{ Html.RenderAction("PWPostiDisponibili", "Posti");}
        </div>
    </div>
</div>


