@model ConcertListing_Capstone.Models.Concerto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Concerto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artista.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artista.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luogo.NomeStruttura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luogo.NomeStruttura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImmagineCopertina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImmagineCopertina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Durata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durata)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>


