<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header-img">
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between  py-3" id="navbarNavDropdown">
                <div>
                    <a class="navbar-brand ms-3" href="#">JustTicket</a>
                </div>
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item me-3">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li class="nav-item me-3">
                            @Html.ActionLink("Concerti", "PaginaConcerti", "Concerto")
                        </li>
                        <li class="nav-item me-3">
                            @Html.ActionLink("Artisti", "ListaArtisti", "Artista")
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Amministrazione", "PannelloAmministrazione", "Amministrazione")
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav px-3">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item me-3">
                                @Html.ActionLink("Carrello", "Carrello", "Ordine")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Logout", "Logout", "Utenti")
                            </li>
                        }
                        else
                        {
                            <li class="nav-item me-3">
                                @Html.ActionLink("Login", "Login", "Utenti")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Register", "Register", "Utenti")
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
